In [ ]:
Q1. What is a database? Differentiate between SQL and NoSQL databases.
A1. Database is a set of organized data which makes it easier for the user to store, manage, manipulate the 
    data. It is used to store a large amount of data which can be accessed, updated, retrieved and queried.
    
    SQL are structured like spreadsheets with rows and columns. They scale vertically and require more hardware
    to handle more data.
    NoSQL are flexible, unstructured manner allowing more data formats. They scale horizontally by adding more servers
    or nodes to distribute the data.

In [ ]:
Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
A2. It is a set of SQL commands used to define and manage structure and organization of database.
    DDL statements are responsible for creating, altering, and dropping database objects such as 
    tables, views, indexes, and constraints.
    
    Create - This statement is used to create a new databse object, such as table or view along with its 
             structure and attributes.
    Ex - CREATE TABLE Persons(PhoneNum INT, Name VARCHAR(50), Age INT, Email VARCHAR(50));
    
    Drop - Drop is used to remove an existing database object such as table, view or index.
    Ex - DROP TABLE Persons;
    
    Alter - It is used to add, drop, modify columns, constraints or indexes.
    Ex - ALTER TABLE PERSONS ADD Salary INT;
    
    Truncate - It is used to delete data in the table and not the table itself.
    Ex - TRUNCATE TABLE Persons

In [ ]:
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
A3. DML is data manipulation language used to manage and manipulate the data stored in a database.
    
    Insert - It is used to add new records or rows into a database table.
    Update - It is used to modify the existing database in a table.
    Delete - It is used to remove one more records from a database table.

In [ ]:
Q4. What is DQL? Explain SELECT with an example.
A4. DQL is data query language which mainly focuses on retrieving and querying data from a database.
    Select - The select statement allows us to specify a column we want to retrieve from a table, as well 
             as filtering or sorting the criteria.

In [ ]:
Q5. Explain Primary Key and Foreign Key.
A5. Keys establish relationship between tables and ensure data integrity.

    Primary key - Each table has one primary key. Each Row has a unique primary key and cannot be null.
                  By using primary key it ensure data integrity and provides a way to uniquely identify
                  the records.
    
    Foreign key - It establishes the relation between 2 tables. It refers to primary key of another table
                  linking the records between the 2 tables. It represents a relationship and enforces referential
                  integrity , ensuring that the values in foreign key column exist in referenced table's primary
                  key column.

In [ ]:
Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
#Answer 6
import mysql.connector
mydb=mysql.connector.connect(host="localhost",user="abc",password="password")
mycursor=mydb.cursor()

In [ ]:
cursor() - This method allows us to iterate through a database using a cursor which will only execute a single
           query.
execute() - This method allows us to send a single sql statement to database for execution.

In [ ]:
Q7. Give the order of execution of SQL clauses in an SQL query.
A7. From > Join > Where > Group by > Having > Select > Distinct > Order by > Limit