In [ ]:
Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?
A1. MongoDB is a NoSQL document oriented database which provides high performance, scalability, and flexibility
    for storing large amount of structured and unstructured data.
    Non-relatonal databases are NoSQL databases which store large amount of different document type json
    data unlike relational databases which store structured tabular data.
    In cases where the data we need to store does not fit into tables, we need to use MongoDB as it has
    no structured type.
    If we have to store and access a lot of data, MongoDB is preferred as it stores its data over large,
    servers making the access and retrieving of data faster.
    If our work is real time data analyzing then MongoDB is preferred as it quickly analyzes and passes data.

In [ ]:
Q2. State and Explain the features of MongoDB.
A2. Document oriented - It stores data in self describing documents (json) for faster retrieving and access.
    Scalability and performance - It can scale horizontally by distributing data to other servers and enables
                                  handling of large datasets.
    Flexible data model - It has flexible data type like documents, arrays, wide range of data types providing
                          flexibility to accomodate data.
    Integration and ecosystem - MongoDB deals with many programming languages and provides their drivers 
                                allowing developers to interact with database from different platform.

In [5]:
#Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.
import pymongo 
client = pymongo.MongoClient("mongodb+srv://dragonkrissash:dragonkrissash@cluster0.xwyg9rp.mongodb.net/?retryWrites=true&w=majority")
db=client.test

In [3]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.3.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (492 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 492.9/492.9 kB 15.8 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 41.3 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.3.3
Note: you may need to restart the kernel to use updated packages.

In [6]:
db

Database(MongoClient(host=['ac-bbfsvcb-shard-00-02.xwyg9rp.mongodb.net:27017', 'ac-bbfsvcb-shard-00-01.xwyg9rp.mongodb.net:27017', 'ac-bbfsvcb-shard-00-00.xwyg9rp.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-v5hfxz-shard-0', tls=True), 'test')

In [7]:
db=client['col1']

In [8]:
#Q4. Using the database and the collection created in question number 3, write a code to insert one record,
#and insert many records. Use the find() and find_one() methods to print the inserted record.

data={'name':'krishna',
      'age':18,
      'height':162
}

In [9]:
cl1=db['mydata']

In [10]:
cl1.insert_one(data)

In [11]:

data2 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

In [12]:
cl1.insert_many(data2)

In [13]:
cl1.find_one()

{'_id': ObjectId('6485f69ab0cf2a7e63c8c1c8'),
 'name': 'krishna',
 'age': 18,
 'height': 162}

In [14]:
for i in cl1.find():
    print(i)

{'_id': ObjectId('6485f69ab0cf2a7e63c8c1c8'), 'name': 'krishna', 'age': 18, 'height': 162}
{'_id': ObjectId('6485f760b0cf2a7e63c8c1c9'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6485f760b0cf2a7e63c8c1ca'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6485f760b0cf2a7e63c8c1cb'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6485f760b0cf2a7e63c8c1cc'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6485f760b0cf2a7e63c8c1cd'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6485f760b0cf2a7e63c8c1ce'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6485f760b0cf2a7e63c8c1cf'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6485f760b0cf2a7e63c8c1d0'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6485f760b0cf2a7e63c8c1d1'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6485f760b0cf2a7e63c8c1d2'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6485f760b0cf2a7e63c8c1d3'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6485f760b0cf2a7e63c8c1d4'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [ ]:
Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.
A5. by using the find() method, we can directly check if a dictionary is in the data provided or not.

In [ ]:
for i in cl1.find({'name':'krishna'}):
    print (i)

{'_id': ObjectId('6485f69ab0cf2a7e63c8c1c8'), 'name': 'krishna', 'age': 18, 'height': 162}

In [ ]:
Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.
A6. The sort() method in PyMongo is used to sort the documents retrieved from database in ascending or 
    descending order. The syntax is : collection.find().sort(key,direction).
    The key is the list of documents to be sorted and direction should be 1 if sorting is in ascending order
    and -1 if sorting is in descending order.

In [3]:
import pymongo
client = pymongo.MongoClient('mongodb+srv://dragonkrissash:dragonkrissash@cluster0.xwyg9rp.mongodb.net/?retryWrites=true&w=majority')
db=client.test

In [2]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.3.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (492 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 492.9/492.9 kB 25.5 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 34.8 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.3.3
Note: you may need to restart the kernel to use updated packages.

In [4]:
db=client['db1']
col1=db['cl1']

In [6]:
col1.insert_many([{"name": "Alice", "age": 25},
    {"name": "Bob", "age": 30},
    {"name": "Charlie", "age": 20},
    {"name": "David", "age": 35}]
)

In [21]:
result=col1.find().sort("name",-1)

In [22]:
for i in result:
    print(i)

{'_id': ObjectId('6486e95402a5cdee46f1ef5e'), 'name': 'David', 'age': 35}
{'_id': ObjectId('6486e95402a5cdee46f1ef5d'), 'name': 'Charlie', 'age': 20}
{'_id': ObjectId('6486e95402a5cdee46f1ef5c'), 'name': 'Bob', 'age': 30}
{'_id': ObjectId('6486e95402a5cdee46f1ef5b'), 'name': 'Alice', 'age': 25}

In [ ]:
Q7. Explain why delete_one(), delete_many(), and drop() is used.
A7. The delete_one function is used to delete only 1 key value pair in database while the delete_many function
    is used to delete many pairs at a time based on a condition.
    The drop() function permanently deletes the collection and it's associated data.

In [24]:
#Answer 7
col1.delete_one({'name':'Alice'})

In [27]:
for i in col1.find():
    print(i)

{'_id': ObjectId('6486e95402a5cdee46f1ef5c'), 'name': 'Bob', 'age': 30}
{'_id': ObjectId('6486e95402a5cdee46f1ef5d'), 'name': 'Charlie', 'age': 20}
{'_id': ObjectId('6486e95402a5cdee46f1ef5e'), 'name': 'David', 'age': 35}

In [33]:
col1.delete_many({'age':{'$gte':30}})

In [39]:
for i in col1.find():
    print (i)

{'_id': ObjectId('6486e95402a5cdee46f1ef5d'), 'name': 'Charlie', 'age': 20}

In [45]:
#Answer 7
db['cl1'].drop()

In [50]:
for i in col1.find():
    print(i)